# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Dependency directories
jspm_packages/

# Build output
dist/
build/
coverage/

# OS and IDE specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Optional: PM2 logs
pids
*.pid
*.seed

# Optional: Debugger files
*.tgz
*.swp
